@import (reference) "~plugins/reframe/main.less";

.reframe--connect {
  background: @kibanaGray5;
  padding: 10px;
  border-radius: @border-radius-base;
}

.reframe--connect-source {
}

.reframe--connect-buttons {
  margin-top: 5px;
  text-align: right;

  button {
    margin-left: 5px;
  }
}
